body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin: 0;
    background-color: white;
    background-image: url("https://live.staticflickr.com/2585/4409031788_34d48cfdfd_c.jpg");
    background-size: cover;
    background-position: center;
}

header {
    text-align: center;
    padding: 50px 0;
    background-color: rgba(0, 0, 0, 0.7);
    color:white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: clear;
    position: absolute;
    width: 100%;

}

a{
    color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

li a:hover {
    background-color:clear;
    color: white;
    text-decoration: underline;
}

li a.active {
    background-color: clear;
    color: white;
    text-decoration: underline;
  }

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position:relative;
    background-color:clear;
    color: white;
    width: fit-content;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color:clear;
    color: white;
    text-decoration: underline;
}

li.dropdown:hover .dropdown-content {
    display: block;
}

section {
    margin: 20px 0;
    text-align: center;
}

.paragraph {
    color: white;
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-link {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.social-link:hover {
    color: rgba(128, 128, 128, 0.5); /* Change color on hover to gold */
}